@use "../../../styles/variables" as v;

button {
  position: relative;
  border: none;
  cursor: pointer;
  scale: 1;
  transition: scale 0.25s linear;
  overflow: hidden;

  .variant-body2 {
    overflow: hidden;
    text-transform: uppercase;
  }

  &:active,
  &:hover {
    transition: scale 0.25s linear;
  }

  .filler-container {
    z-index: -1;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;

    .filler {
      background-color: v.$color-secondary-dim;
      border-radius: v.$corners-rounded;
      
    }
  }
}

button:not(.btn-rounded, .btn-dot) {
  padding: 0.8rem 1rem !important;
  border-radius: v.$corner-xl;
  z-index: 2;

  //supports button animations with framer
  .char {
    position: relative;
    height: 1.125rem;
    display: inline-block;
    margin: 0 !important;

    &::after {
      content: attr(data-char);
      position: absolute;
      top: 1.125rem;
      left: 0;
    }
  }

  .filler-container {
    width: 1%;
    aspect-ratio: 1/1;
    left: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;

    .filler {
      width: 100%;
      height: 100%;
    }
  }
}

.btn-rounded {
  border-radius: v.$corners-rounded;
  width: 3.4rem;
  height: 3.4rem;
  aspect-ratio: 1/1;
  text-align: center;

  .filler-container {
    border-radius: v.$corners-rounded;
    background-color: v.$color-secondary-light;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100%;
    aspect-ratio: 1/1;

  }
  .filler {
    position: absolute;
    width: 1%;
    aspect-ratio: 1/1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-dot {
  border-radius: v.$corners-rounded;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/1;

  .variant-icon {
    font-size: 0rem;
    line-height: 0rem;
  }
}

.btn-hover {
  box-shadow: v.$shadow-button-primary;
  transition: box-shadow 0.25s linear;
}

.variant-btn-primary {
  background-color: v.$color-secondary-main;
  color: v.$color-primary-light;
}

.variant-btn-secondary {
  transition: color 0.25s linear;
  background-color: v.$color-secondary-light;
  color: v.$color-secondary-main;

  &:active,
  &:hover {
    color: v.$color-secondary-light;
    transition: color 0.25s linear;
  }
}

.variant-btn-text-link {
  background-color: transparent;
  color: v.$color-secondary-main;
  transition: color 0.25s linear;

  &:active,
  &:hover {
    color: v.$color-secondary-light;
    transition: color 0.25s linear;
  }
}

.text-link-hover {
  transition: color 0.15s linear 0.25s;

  &:active,
  &:hover {
    color: v.$color-secondary-light;
    transition: color 0.15s linear 0.25s;
  }
}

.btn-disabled {
  color: v.$color-secondary-dim;
  cursor: auto;
  background-color: v.$color-secondary-light;
  border: 0.1rem solid v.$color-secondary-dim;
}

.btn-pressed {
  background-color: v.$color-secondary-dim;
}
