@use "../styles/variables" as v;
#root {
  text-align: center;
  text-wrap: pretty;
  z-index: 0;

  * {
    box-sizing: border-box;
    margin: 0;
  }

  > *:not(.navbar, .footer) {
    padding: 0 v.$p-lg;
    margin: v.$m-xlg 0;

    @media screen and (max-width: 767px) {
      padding: 0 v.$p-md;
      margin: 0.85rem 0;
    }
  }
}

.dark-theme {
  background-color: v.$color-primary-main;
  color: v.$color-primary-light;

  .card {
    background-color: v.$color-primary-dim;
    color: v.$color-primary-light;

    .card-content:not(.content-overlay) {
      background-color: v.$color-primary-dim;

      > * {
        color: v.$color-primary-light;
      }
    }
  }
  .navbar,
  .footer {
    background-color: v.$color-primary-dim;
    color: v.$color-primary-light;

    > * {
      color: v.$color-primary-light;
    }
  }

  .text-decoration {
    cursor: pointer;
    text-align: left;
    text-decoration-color: v.$color-primary-pale;

    &:hover {
      text-decoration: underline;
      text-decoration-color: v.$color-primary-pale;
      text-decoration-thickness: 0.15rem;
      transition: 0.35s;
    }
  }
}
