@use "../../styles/variables" as v;

.grid-wrapper {
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  gap: v.$gap-md;
}

.dark-theme {
  .grid-wrapper >* {
    color: v.$color-primary-light;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 30rem);
  width: 100%;
  gap: v.$gap-md;

  @media screen and (max-width: 1023px) {
    grid-template-rows: repeat(2, 15rem);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 15rem);
  }

  @media screen and (max-width: 767px) {
    grid-template-rows: repeat(2, 10rem);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 10rem);
  }
}
.grid-item {
  transition: v.$card-padding-transition;
  background-color: v.$color-primary-pale2;
  border-radius: v.$corner-md;
  cursor: pointer;
  box-shadow: v.$shadow-paper-medium;

  &:hover {
    padding: 0.5rem;
    transition: v.$card-padding-transition;
  }
  &:active {
    padding: 0;
    transition: v.$card-padding-transition;
  }
}

.grid-item:nth-child(4) {
  grid-column: span 2;
}



@media screen and (max-width: 1023px) {
.grid-item:nth-child(4) {
    grid-row: span 2;
  }

  .grid-item:nth-child(4) {
    grid-column: span 1;
  }
}

@media screen and (max-width: 767px) {
  .grid-item:nth-child(3){
    grid-row: span 2;
  }
  .grid-item:nth-child(4) {
      grid-row: span 1;
    }
  }

.grid-item {
  .card {
    height: 100%;
  }
}

.card-deck {
  display: flex;
  gap: v.$gap-md;

  @media screen and (max-width: 1023px) {
    flex-direction: column ;
  }
}

       
.banner-wrapper {
  overflow: hidden;

  .banner-framer {
    display: flex;
    gap:v.$gap-md;
    padding: v.$m-sm 0;
    
    @media screen and (max-width: 1023px) {
      flex-direction: column;
      
    }
    
  }
  
  .card {
    border-radius: v.$corner-md;
    box-shadow: v.$shadow-paper-medium;
    padding: v.$p-md;

    .card-content {
      align-items: flex-start;
      gap:0;
      text-align: left;

      > *:last-child {
        margin-top: 2rem !important;
      }
    }

    .card-button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-thumbnail {
      background-color: v.$color-primary-pale;
      padding: v.$p-md;
      border-radius: v.$corners-rounded;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
  }
}

.scroll-container {
  overflow: hidden;
  height: 20rem;



  .padding-alignment {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .scroll-track {
    height: 100%;
    width: max-content;
    inset: 0;
    display: flex;
    align-items: center;
    gap: v.$gap-md;

    .scroll-item {
      height: 100%;
      width: 20rem;
      position: relative;
      overflow: hidden;

      .card {
        height: 100%;

        .card-image {
          height: 100%;
          width: 100%;
        }
      }

      .item-content {
        position: absolute;
        inset: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        border-radius: v.$corner-md;

        .overley {
          background-color: rgba(33, 33, 33, 0.6);
          width: 100%;
          height: 100%;
          position: absolute;
          border-radius: v.$corner-md;
        }
        .content-body {
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 10;
          padding: v.$p-md;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

