@use "../../styles/variables" as v;

.card {
  width: 100%;
  position: relative;
  border-radius: v.$corner-md v.$corner-md;
}

.card-long {
  width: 100%;
  height: 84.5dvh;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-flow: column wrap;
  gap: v.$gap-sm;
}

.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: v.$shadow-text;

  > * :not(:first-child) {
    margin-top: 0.5rem !important;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 0.3rem;
  }
}

.card-info {
  padding: 0 2rem;

  @media screen and (max-width: 767px) {
    padding: 0rem !important;
    .card-content {
      align-items: flex-start;
      text-align: left;
    }
  }
}

.card-media {
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: v.$color-secondary-light;
  box-shadow: v.$shadow-paper-medium;
  border-radius: v.$corner-md v.$corner-md;
  overflow: hidden;
  cursor: pointer;

  img {
    border-radius: v.$corner-md v.$corner-md 0 0;
  }

  .card-content {
    padding: v.$m-md;
    background-color: v.$color-primary-light;

    span {
      text-align: right;
    }
  }
}

.paper {
  .card-info {
    background-color: transparent;
  }
  .card-content {
    background-color: transparent !important;
  }
}
