@use "../../styles/variables" as v;

.footer {
  background-color: v.$color-primary-pale2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: v.$p-lg;
  margin-top: v.$m-xlg;
  gap: v.$gap-xxlg;

  @media screen and (max-width: 1023px) {
    padding: 0.85rem 0.5rem;
    margin-top: 0.85rem;
  }

  .footer-items {
    display: flex;
    justify-content: space-between;
    text-align: left;

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      gap: v.$gap-xlg;
    }

    .footer-item {
      display: flex;
      flex-direction: column;
      gap: v.$gap-md;

      p:not(:first-child) {
        cursor: pointer;
      }
    }
  }

  .footer-text {
    border-top: v.$border-sm;
    border-bottom: v.$border-sm;
    padding: v.$p-lg 0;
  }

  .footer-socials {
    display: flex;
    justify-content: center;
    gap: v.$gap-md;

    > * {
      width: 3rem;
      border-radius: v.$corner-md;
      padding: v.$p-md;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: v.$color-secondary-light;
        transition: 0.35s ease-in-out;
      }
    }
    .image-container > * {
      height: auto;
      aspect-ratio: 1/1;
    }
  }
}

.dark-theme {
  .footer {
    .footer-items {
      .footer-item p:not(:first-child) {
        color: v.$color-primary-light;
      }
      p:first-child {
        color: v.$color-primary-pale;
      }
    }

    .footer-text {
      border-top: v.$border-sm-dark;
      border-bottom: v.$border-sm-dark;

      > * {
        color: v.$color-primary-pale;
      }
    }
  }
}
